<!DOCTYPE html>
<html>
    <head>
        <title>Puppy Adoption</title>
    </head>
    <body>
      <h1>New Puppy Submitted!</h1>
      <p><a href="/NEW">Click Here To List A Puppy</p>
    </body>
</html>
