<!DOCTYPE html>
<html>
    <head>
        <title>Puppy Adoption</title>
    </head>
    <body>

      <h1>Puppy Created!</h1>

      <p>Name: <%= @puppy.name %></p>
      <p>Breed: <%= @puppy %></p>
      <p>Age: <%= @puppy %></p>

    </body>
</html>
